<h1><%= @player_1_name %> vs. <%= @player_2_name %><h1>

<h2><%= @player_1_name %>: <% @player_1_hp %><h2>
<h2><%= @player_2_name %>: <% @player_2_hp %><h2>

<a href="/attack">Attack</a>

<!-- <input onclick="this.value='Confirm'" type="button" value="Player 1 Attack!" id="myButton1" />
<input onclick="this.value='Confirm'" type="button" value="Player 2 Attack!" id="myButton1" /> -->